.u-section-1 .u-sheet-1 {
  min-height: 965px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: 61px auto 0;
}

.u-section-1 .u-list-1 {
  margin-top: 54px;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  min-height: 798px;
  grid-gap: 0px 0px;
  grid-auto-columns: 33.3333%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  height: 210px;
  width: 210px;
  background-image: url("images/ImagemdoWhatsAppde2024-04-01s12.06.17_23df81c7.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 20px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-text-3 {
  font-weight: 500;
  font-size: 1.125rem;
  margin: 4px 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  height: 210px;
  width: 210px;
  background-image: url("images/ImagemdoWhatsAppde2024-04-01s12.14.50_827ffe5c.jpg");
  background-position: 50% 14.9%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 20px auto 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  letter-spacing: normal;
  text-transform: none;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-text-5 {
  font-weight: 500;
  font-size: 1.125rem;
  margin: 4px 0 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-image-3 {
  height: 210px;
  width: 210px;
  background-image: url("images/ImagemdoWhatsAppde2024-04-01s12.16.03_1c21ca7a.jpg");
  background-position: 50% 6.04%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 20px auto 0;
}

.u-section-1 .u-text-6 {
  font-size: 1.25rem;
  letter-spacing: normal;
  text-transform: none;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-text-7 {
  font-weight: 500;
  font-size: 1.125rem;
  margin: 4px 0 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-image-4 {
  height: 210px;
  width: 210px;
  background-image: url("images/Designsemnome.png");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 20px auto 0;
}

.u-section-1 .u-text-8 {
  font-size: 1.25rem;
  letter-spacing: normal;
  text-transform: none;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-text-9 {
  font-weight: 500;
  font-size: 1.125rem;
  margin: 4px 0 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-image-5 {
  height: 210px;
  width: 210px;
  background-image: url("images/ImagemdoWhatsAppde2024-04-01s11.33.24_c32777e6.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 20px auto 0;
}

.u-section-1 .u-text-10 {
  font-size: 1.25rem;
  letter-spacing: normal;
  text-transform: none;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-text-11 {
  font-weight: 500;
  font-size: 1.125rem;
  margin: 4px 0 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-image-6 {
  height: 210px;
  width: 210px;
  background-image: url("images/Designsemnome1.png");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 20px auto 0;
}

.u-section-1 .u-text-12 {
  font-size: 1.25rem;
  letter-spacing: normal;
  text-transform: none;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1 .u-text-13 {
  font-weight: 500;
  font-size: 1.125rem;
  margin: 4px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 927px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 658px;
    grid-auto-columns: 33.333333333333336%;
  }

  .u-section-1 .u-image-2 {
    background-position: 50% 50%;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1905px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 1642px;
    grid-auto-columns: 50%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 26px;
    padding-right: 26px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 26px;
    padding-right: 26px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 26px;
    padding-right: 26px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 26px;
    padding-right: 26px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 26px;
    padding-right: 26px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 26px;
    padding-right: 26px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2397px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2392px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }
}